<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete teamDto</title>
    <style type="text/css">
        body {
            padding: 60px;
        }

        label {
            display: inline-block;
            width: 150px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="../webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!-- TeamDto delete -->
<form id="edit-form" action="/team">
    <h1>DELETE: Team Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" readonly="readonly" value="Team name"/>
    </div>

    <div class="row">
        <label for="teamLeadName-input">TeamLeadName:</label>
        <input id="teamLeadName-input" name="teamLeadName" type="text" readonly="readonly" value="teamLeadName"/>
    </div>

    <div class="row">
        <label for="productOwnerName-input">ProductOwnerName:</label>
        <input id="productOwnerName-input" name="productOwnerName" type="text" readonly="readonly" value="ProductOwnerName"/>
    </div>

    <div class="row">
        <label for="productCenterName-input">ProductCenterName:</label>
        <input id="productCenterName-input" name="productCenterName" type="text" readonly="readonly" value="ProductCenterName"/>
    </div>

    <div class="row">
        <label for="curatorName-input">CuratorName:</label>
        <input id="curatorName-input" name="curatorName" type="text" readonly="readonly" value="CuratorName"/>
    </div>

    <div class="row">
        <label for="dateStart-input">DateStart:</label>
        <input id="dateStart-input" name="dateStart" type="text" readonly="readonly" value="DateStart"/>
    </div>

    <div class="row">
        <label for="dateEnd-input">DateEnd:</label>
        <input id="dateEnd-input" name="dateEnd" type="text" readonly="readonly" value="DateEnd"/>
    </div>

    <div class="row">
        <button id="submit-button" type="submit">Delete</button>
    </div>

    <script>
        $(function () {
            var params = (new URL(document.location)).searchParams;
            $.get('/api/team/' + params.get("id")).done(function (teamDto) {
                var inputControl;
                inputControl = document.getElementById("id-input");
                inputControl.setAttribute('value', teamDto.id);
                inputControl = document.getElementById("name-input");
                inputControl.setAttribute('value', teamDto.name);
                inputControl = document.getElementById("teamLeadName-input");
                inputControl.setAttribute('value', teamDto.teamLeadName);
                inputControl = document.getElementById("productOwnerName-input");
                inputControl.setAttribute('value', teamDto.productOwnerName);
                inputControl = document.getElementById("productCenterName-input");
                inputControl.setAttribute('value', teamDto.productCenterName);
                inputControl = document.getElementById("curatorName-input");
                inputControl.setAttribute('value', teamDto.curatorName);
                inputControl = document.getElementById("dateStart-input");
                inputControl.setAttribute('value', teamDto.dateStart);
                inputControl = document.getElementById("dateEnd-input");
                inputControl.setAttribute('value', teamDto.dateEnd);
            })
        });

        document.getElementById("submit-button").onclick = function () {
            var params = (new URL(document.location)).searchParams;

            var retVal = false;
            $.ajax({
                url: '/api/team/' + params.get("id"),
                type: 'DELETE'
            })
            .done(function () {
                window.location.href = '/team';
                retVal = true;
            })
            return retVal;
        }
    </script>
</form>

</body>
</html>
